<!DOCTYPE html>
<html land="eg" data-ng-app="TodoApp">
<head>
	<meta charset=utf-8>
	<title>todo </title>

	<!-- ionic -->
	<link rel="stylesheet" type="text/css" href="lib/ionic/css/ionic.css">
	<script type="text/javascript" src="lib/ionic/js/ionic.bundle.js"></script>

	<!-- app -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/app.js"></script>

</head>
<body data-ng-controller="AppCtrl">
	<ion-header-bar align-title="center" class="bar-positive">
	  <h1 class="title">Todo</h1>
		<button ng-click="refresh()" class="button">
		  <i class="icon ion-plus-circled"></i>
		</button>
	</ion-header-bar>
	<ion-content>
		<ion-refresher on-refresh="refresh()">
		</ion-refresher>
		<div ng-show="!todos.length">
			<br/>
			<br/>
			<center>
				<h1>Pull to refresh</h1>
			</center>
		</div>
		<ion-list show-delete="true">
		  <ion-item ng-repeat="todo in todos">
		    <h2>{{todo.title}}</h2> 
		    <ion-delete-button class="ion-minus-circled"
                       ng-click="remove(todo)">
    		</ion-delete-button>

		  </ion-item>
		</ion-list>

	</ion-content>
</body>
</html>